<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286718968181-57kbi9opkiqd6l1f3eoja6pf5iap7fog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286718968181-57kbi9opkiqd6l1f3eoja6pf5iap7fog</string>
	<key>API_KEY</key>
	<string>AIzaSyBNbyRw2K7IjbYzqFGlYVbjfi_6jDo0_-4</string>
	<key>GCM_SENDER_ID</key>
	<string>286718968181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taskmallow.taskmallow</string>
	<key>PROJECT_ID</key>
	<string>taskmallow-app</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmallow-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286718968181:ios:c8a439a740c1e0af01933c</string>
</dict>
</plist>